February 6, 2019 Firebase Update will change the way URLs are parsed

i recently recived an email saying that Firebase will change the way they parse URLs on the REST API, they suggest adding the header  `--header "X-Firebase-Decoding: 1"` to test if the change will affect our applications, will pyrebase be affected? 

Email:
> Summary

> We've identified a long-standing bug in the Firebase Realtime Database REST API. The fix will be rolled out in February 2019, but we wanted to reach out first so you can test how the new behavior affects your application.

> What happened?

> We realized that when URLs are parsed for the REST API, we decode query parameters twice. Starting February 6, 2019, we will change the behavior so all URLs are parsed correctly (and are RFC compliant, according to RFC 3986, Section 2) . We’ve identified that some of your recent REST requests could be reliant on the old behavior, and may change or stop working.

> What's next?

> Until February 6, 2019, you can add the X-Firebase-Decoding: 1 to your requests (as shown below), to verify if your requests are impacted by this change. If impacted, you will need to update your REST API usage before February.

> You can find more information, including sample usage, in the[ REST API reference documentation](https://firebase.google.com/docs/reference/rest/database/#section-api-usage). 

 

I'm also curious about this. My intuition would tell me that Pyrebase would be affected, but it seems there is plenty of time for (what seems to be) a relatively simple fix to be implemented.

everything seems to be fine, so far